body {
  width: 100%;
  height: 100%;

  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #55595e;
  font-size: 16px;

  line-height: 1.5;
}

a {
  color: #55595e;
}

header {
  width: 100%;
  height: 7.7%;

  background-color: white;

  padding-left: 7.5%;
  padding-right: 7.5%;

  border-top: solid #e1e3e4 1px;
  box-shadow: 0 1px 8px #ababab;

  position: fixed;
  z-index: 10;
}

.navbar {
  padding: 0;
  color: #55595e;

  height: 100%;
  width: 100%;
}

.logo-container {
  width: 10%;
  height: 100%;

  margin-right: -2.5%;
}

.logo-container-2 {
  width: 8%;
  height: 100%;

  margin-left: -2.5%;
}

.even-space-around {
  display: flex;
  justify-content: space-around;

  padding-left: 1.5%;
  padding-right: 1.5%;

  width: 97%;
  height: 100%;
}

.nav-item {
  font-size: 18px;
  align-self: center;
  font-weight: 300;
}

.nav-link:hover {
  text-decoration: none;
  color: #ffc200;

  transition: all 1s;
}

.first-section-container {
  width: 100%;
  height: 15%;

  padding-top: 21%;
  padding-bottom: 16%;

  margin-bottom: 30px;

  background-image: url(http://res.cloudinary.com/dzixj0ktk/image/upload/b_rgb:ffc200,co_rgb:ffc200,dn_150,e_blur:2000,o_80/v1512149047/carlos-muza-84523_s9srxk.jpg);
  background-position: 68% 70%;
  background-size: cover;

  text-shadow: 0px 3px 3px rgba(0,0,0,0.25);

  color: #fafafa;
}

.top-text {
  font-weight: 300;
  font-size: 46px;
}

.header-image {
  height: 100%;
  width: 100%;

  margin-top: 5%;
  margin-bottom: 2.5%;
}

img {
  height: 100%;
  width: 100%;
}

.section-header {
  padding-top: 7%;
  padding-bottom: 1%;

  font-size: 42px;
  color: #242628;
}

.section-mini-header {
  padding-top: 12%;
  padding-bottom: 3%;

  font-size: 24px;
  color: #242628;
}

.section-subheader {
  font-size: 24px;
  line-height: 1.5;

  font-weight: 300;

  padding-bottom: 2.5%;
}

.special-text {
  font-size: 32px;
  font-weight: 300;
}

.section-text {
  font-size: 21px;
  line-height: 1.5;

  margin-bottom: 5%;
  margin-top: 1.2%;

  font-weight: 300;
}

.second-section {
  padding-top: 4%;
  padding-bottom: 4%;
}

.link-container {
  margin-top: -2%;
  margin-bottom: 8.5%;
}

.link {
  color: #ffc200;
  font-size: 18px;
}

.justified {
  text-align: justify;
}

.italic {
  font-style: italic;
  margin-right: 3px;
}

.semi-strong {
  color: #242628;
  font-weight: 400;
}

.strong {
  color: #242628;
  font-weight: 600;
}

.color {
  color: #ffc200;
}

.main-section-image {
  height: 50%;
  width: 83%;
}

.center-text {
  text-align: center;
  width: 100%;
}

.sub-image {
  height: 68%;
  width: 94%;

  margin-bottom: 2%;

  border-radius: 1%;
}

.subhead {
  font-size: 18px;
}

.padding-top-bottom {
  padding-top: 4%;
  padding-bottom: 2%;
}

.largest-text {
  font-size: 70px;
  font-weight: 300;
}

.largest-text:last-of-type {
  margin-bottom: 10%;
}

.right {
  text-align: right;
}

.review {
  border-right: 1px solid gray;

  margin-right: 5%;
}

.last-review {
  border: none;
  margin-right: 0;
}

.icon-image {
  height: 20%;
  width: 70%;
}

.sixth-section-container {
  height: 750px;
  width: 100%;

  margin-top: 8.5%;
  padding-top: 5%;

  background-image: url(http://res.cloudinary.com/dzixj0ktk/image/upload/v1510587386/david-alacaraz-328972_fymcaj.jpg);
  background-position: left;
  background-size: cover;
}

.header-text {
  width: 55%;
  margin: auto;
}

.pre-header-text {
  color: rgba(255,255,255,.75);
  font-size: 24px;
}

.white {
  color: #fff;
  line-height: 1.25;

  padding-top: 0;
}

.cards {
  height: 450px;
  width: 100vw:
}

.card {
  height: 90%;
  width: 30%;
}

.section-list {
  padding-bottom: 2.5%;
}

.bullet-point {
  height: 100%;
  line-height: 1.5;

  font-weight: 300;
  font-size: 24px;

  background: url(http://res.cloudinary.com/dzixj0ktk/image/upload/c_scale,w_33/v1512130883/fixed-check-bulletpoint_yez6b8.png) no-repeat left top;
  padding: 0 0 30px 45px;

  list-style-position: inside;
  margin: 0;
}

#rei-icon {
  height: 225px;
  width: 225px;

  margin-top: 72.5%;
  margin-left: 32.5%;
  margin-right: 10%;
}
